# --- CARPETAS GENERADAS POR UNITY (NO SUBIR) ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/


# Estos archivos los genera Unity en cada PC, no deben compartirse
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opentest

# --- ARCHIVOS DE VISUAL STUDIO / VS CODE ---
.vs/
.vscode/
*.suo
*.sh
*.js.meta
*.tin

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
Desktop.ini